*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(360deg, rgba(4, 141, 175, 0.418), rgb(0, 4, 255));
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas: "header navigation" "profile profile" "title title"
    "section section" "footer footer";
}

.header{
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.navigation{
    grid-area: navigation;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile{
    display: flex;
    grid-area: profile;
    margin: 10px;
    justify-content: space-evenly;
}

.profile-picture{
    background-color: antiquewhite;
    max-width: 500px;
    height: auto;
    margin-right:10px ;
}

.profile-article{
    border: 1px solid grey;
    background-color: antiquewhite;
    width: 50vw;
    height: auto;
}

/* Projekts styling */
.Projekts{
    grid-area: title;
}

.Projekt-rows{
    display: flex;
    justify-content: space-around;
    grid-area: section;
}
.Projekt-card{
    position: relative;
    max-width: 300px;
    height: 400px;
    background-color: red;
    border: 1px solid rgb(177, 0, 0);
    border-radius: 5px;
    margin: 10px;
}

#Projekt-1{
    background-image: url(./picture/programming-3652497_640.jpg);
    color: white;
}

#Projekt-2{
    background-image: url(./picture/website-647013_640.jpg);
    color: white;
}

#Projekt-3{
    background-image: url(./picture/code-3385504_640.jpg);
    color: white;
}

#Projekt-4{
    background-image: url(./picture/coding-699318_640.jpg);
    color: white;
}

.Projekt-rows a{
    position: absolute;
    bottom: 10% ;
    padding: 3px;
    background-color: black;
    color: white;
}

.footer{
    grid-area: footer;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px;
}


/* mobile mode */
@media(max-width: 480px){
    .grid-container{
        grid-template-areas: "header navigation" "profile profile" 
        "title title" "section" "section" "footer footer" ;
    }
    .profile{
        display: flex;
        flex-direction: column;
    }
.profile-picture{
    max-width:100%;

}

.profile-article{
    width: 95vw;

}

    .Projekt-rows{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 10px;
        
    }
    .Projekt-card{
        width: 250px;
        height: 300px;
        margin: 10px;
    }
}