*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(360deg, rgba(4, 141, 175, 0.418), rgb(0, 4, 255));
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas: "header navigation" "picture article" "title title"
    "section section" "footer footer";
}

.header{
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.navigation{
    grid-area: navigation;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.picture{
    background-color: antiquewhite;
    width: 1fr;
    height: 550px;
}

.article{
    border: 1px solid grey;
    background-color: antiquewhite;
    width: 1fr;
    height: auto;
}

.Projekts{
    grid-area: title;
}

.Projekt-rows{
    display: flex;
    justify-content: space-around;
    grid-area: section;
}
.Projekt-card{
    width: 300px;
    height: 450px;
    background-color: red;
    border: 1px solid rgb(177, 0, 0);
    border-radius: 5px;
}

.footer{
    grid-area: footer;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px;
}
