*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f9f9;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    grid-template-areas: "header navigation" "profile profile" "title title"
    "section section" "footer footer";
}

.header{
    grid-area: header;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}


/*Navigation styling*/
.navigation {
    grid-area: navigation;
    background-color: black;
    padding: 20px;
    text-align: center;

}

.navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navigation li{
    height: 20px;
}

.navigation a{
    height: 100%;
    padding: 25px 30px;
    color: white;
}

.navigation a:hover{
    background-color: aquamarine;
}


/* Profile styling */
.profile{
    display: flex;
    grid-area: profile;
    margin: 10px;
    justify-content: space-evenly;
}

.profile-picture-box{
    max-width: 500px;
    height: auto;
}

.profile-picture{
    background-color: antiquewhite;
    max-width: 300px;
    height: auto;
    margin-right:10px ;
}

.profile-article{
    border: 1px solid grey;
    background-color: antiquewhite;
    width: 50vw;
    height: auto;
}

/* Projekts styling */
.Projekts{
    grid-area: title;
}

.Projekt-rows{
    display: flex;
    justify-content: space-around;
    grid-area: section;
}
.Projekt-card{
    position: relative;
    max-width: 300px;
    height: 400px;
    border-radius: 5px;
    margin: 10px;

}

#Projekt-1{
    background-image: url(./picture/Screenshot\ 2025-02-13\ at\ 13-38-23\ Inloggsida.png);
    background-position: center;
    background-size:cover ;
    color: grey;
}

#Projekt-2{
    background-image: url(./picture/website-647013_640.jpg);
    background-position: center;
    background-size:cover ;
    color: white;
}

#Projekt-3{
    background-image: url(./picture/code-3385504_640.jpg);
    background-position: center;
    background-size:cover ;
    color: white;
}

#Projekt-4{
    background-image: url(./picture/coding-699318_640.jpg);
    background-position: center;
    background-size:cover ;
    color: white;
}

.Projekt-rows a{
    position: absolute;
    bottom: 10% ;
    margin-left: 3px;
    padding: 3px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

/*Hover effect on project cards*/
.Projekt-card:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1) ,
    -10px -10px 10px white ;
}

/*about-me-block styling*/
.about-me-block{
    background-color: blanchedalmond;
    border: 1px solid tan;
    border-radius: 5px;
}

/* ContactsPage-block styling*/
.contactPage-block{
    background-color: blanchedalmond;
    border: 1px solid tan;
    border-radius: 5px;
}

.footer{
    grid-area: footer;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 10px;
}


/* mobile mode */
@media(max-width: 720px){
    .grid-container{
        grid-template-areas: "header navigation" "profile profile" 
        "title title" "section" "section" "footer footer" ;
    }
    .profile{
        display: flex;
        flex-direction: column;
    }
.profile-picture-box{
    max-width:100%;
    display:flex;
    justify-content: center;
    margin-bottom: 3px;
}

.profile-article{
    width: 95vw;

}

    .Projekt-rows{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin: 10px;
        
    }
    .Projekt-card{
        width: 250px;
        height: 300px;
        margin: 10px;
    }
}